.image{
    
   
    
    height: 300px;
    width: 400px;
    opacity: 0.7;
    margin: 10px; 
    box-shadow:  12px 16px blue ;
    filter: blur(180px);
    
}
border: solid red, 3px;
border-top-left-radius: 40px;
border-bottom-right-radius: 70px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 90px;