p{
    background-color: aqua;
    color: brown;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
h1{
    background-color: blue;
    color: yellowgreen;
    font-size: xx-large;
}